[submodule "vim-markdown"]
	path = vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim-sensible"]
	path = vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "gruvbox"]
	path = gruvbox
	url = https://github.com/morhetz/gruvbox.git
